h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 50%;
    margin: 0 auto;
}


#start{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#start, #start-btn{
    margin: 20px;
}

#questions{
    text-align: center;
}

#question{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 40px auto 20px auto;
}

#quiz-over{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#quiz-complete{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 40px auto 0 auto;
}