body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    text-align: center;
}

p{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}


#start{
    text-align: center;
}

#start, #start-btn{
    margin: 20px;
}

#questions{
    text-align: center;
}

#question{
    text-align: center;
    margin: 40px auto 20px auto;
}

#quiz-over, #time-over{
    text-align: center;
}

#quiz-over{
    text-align: left;
}

#quiz-complete{
    text-align: center;
    margin: 40px auto 0 auto;
}

#player-score{
    margin-top: 20px;
    text-align: center;
}

#saved-scores ol{
    text-align: center;
    margin: 0 auto 0 auto;
}

